<!DOCTYPE html>
<html>
    <head>
        <style>

            body{
                background-color:skyblue;
                font-family: verdana;
                color:#fff;
                padding:30px;
            }
            h1{
                font-size:48px;
                text-align: center;
                letter-spacing:2px;
                text-transform: uppercase;
            }
            p{ 
                font-size:16px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>
            Welcome to the profile of  <%= title %>
        </h1>
        <p>
            You won't find a website better anywhere else!
        </p>
    </body>
</html>